/* WIDGET OVERRIDES */

:root {
    --primary-color: white;
}

html, body { height: 100%; }

#all { height: 100%; }

#theme-header {
    max-height: 110px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--primary-color);
}

#theme-content {
    padding-top: 5px;
    padding-bottom: 15px;
    height: 70%;
}

#theme-content-row { padding-top: 15px }

#theme-content-divider {
    border-top: 1px solid #ccc; margin-bottom: 15px;
}

#theme-footer-row {
    padding-bottom: 40px;
}

#nav-org-name {
    font-size: 24px;
    line-height: 40px;
    margin-top: 10px;
}

#nav-org-name a {
    color: #000;
}

/* bootstrap overrides */

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #f4f4f4;
    color: #214d75;
}

/* account_menu */

#account-nav {
    margin-bottom: 15px;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}

/* CUSTOM CSS */

