{# app/Resources/TwigBundle/views/Exception/error500.html.twig #}
{% extends 'error.html.twig' %}

{% block body %}
    <h1>Oops.</h1>
    <p>
        Please let us know what you were trying to do and we'll try to fix it.
    </p>
{% endblock %}