{% extends 'emails/template.html.twig' %}

{% trans_default_domain 'emails' %}

{% block heading %}Sorry to see you go ...{% endblock %}

{% block content %}
    <p>We've cancelled your subscription.</p>
{% endblock %}