{% extends('member_site/base.html.twig') %}
{% trans_default_domain 'member_site' %}

{% block theme %}
    <div id="all">

        <header>
            <div class="container" id="theme-header">
                <div class="row">
                    <div id="nav-org-name" class="col-md-3 hidden-xs">
                        {% include('member_site/themes/widgets/org_name.html.twig') %}
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="row">
                            <div class="col-md-12" id="nav-menu" style="text-align:right">
                                {#-- button to toggle the navigation block on the left --#}
                                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#leftNavigation">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-align-justify"></i>
                                </button>
                                {% include('member_site/themes/widgets/site_menu.html.twig') %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% include('member_site/themes/widgets/search.html.twig') %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container" id="theme-admin">
            {% if is_granted('ROLE_ADMIN') %}
                {% include('member_site/themes/widgets/admin_tools.html.twig') %}
            {% endif %}
        </div>

        <div class="container" id="theme-content">

            <div class="row" id="theme-content-row">

                <div class="col-sm-3" role="navigation" id="leftnavbar">
                    <div class="navbar-collapse collapse" id="leftNavigation">
                        {% include('member_site/themes/widgets/pages_menu_stacked.html.twig') %}
                        <br>
                        {% include('member_site/themes/widgets/items_menu_stacked.html.twig') %}
                    </div>
                    <br>
                </div>

                <div class="col-sm-9" id="page-body">

                    {% include('member_site/themes/widgets/alerts.html.twig') %}
                    {% include('member_site/themes/widgets/account_menu.html.twig') %}

                    {#--- THIS IS THE SECTION THAT PULLS IN ACTUAL CONTENT ---#}
                    {% block body %}{% endblock %}

                </div>

            </div>

        </div>

        <footer id="footer">

            <div class="container" id="theme-footer">

                <div class="footer-div" id="theme-footer-divider"></div>

                <div class="row footer-block" id="theme-footer-row">

                    <div class="col-sm-4">
                        {% include('member_site/themes/widgets/contact_info.html.twig') %}
                        {% if not tenantInformation.setting('hide_branding') %}
                            <br><br>
                            {% trans %}public_footer.powered_by{% endtrans %}
                            <a href="http://www.lend-engine.com" target="_blank">The Lend Engine</a>
                        {% endif %}
                    </div>

                    <div class="col-sm-4">
                        {% include('member_site/themes/widgets/user.html.twig') %}
                    </div>

                    <div class="col-sm-4">
                        {% include('member_site/themes/widgets/languages.html.twig') %}
                    </div>

                </div>
            </div>
        </footer>

    </div>
{% endblock %}