{% extends('member_site/base.html.twig') %}
{% trans_default_domain 'member_site' %}

{% block theme %}
    <div id="all">

        <header>
            <div class="container" id="theme-header">
                <div class="row">
                    <div id="nav-org-name" class="col-md-3 hidden-xs">
                        {% include('member_site/themes/widgets/org_name.html.twig') %}
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="row">
                            <div class="col-md-12" id="nav-menu" style="text-align:right">
                                {% include('member_site/themes/widgets/site_menu.html.twig') %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% include('member_site/themes/widgets/search.html.twig') %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container" id="theme-pages-menu">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pageNav">
                            <i class="fa fa-align-justify"></i>
                        </button>
                        <span class="hidden-sm hidden-md hidden-lg nav-title">Main navigation</span>
                    </div>
                    <div class="collapse navbar-collapse" id="pageNav">
                        {% include('member_site/themes/widgets/pages_menu.html.twig') %}
                    </div>
                </div>
            </nav>
        </div>

        <div class="container" id="theme-categories-menu">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#categoriesNav">
                            <i class="fa fa-align-justify"></i>
                        </button>
                        <span class="hidden-sm hidden-md hidden-lg nav-title">Categories</span>
                    </div>
                    <div class="collapse navbar-collapse" id="categoriesNav">
                        {% include('member_site/themes/widgets/items_menu.html.twig') %}
                    </div>
                </div>
            </nav>
        </div>

        <div id="content" style="margin-bottom: 100px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" id="page-body">
                        {% include('member_site/themes/widgets/admin_tools.html.twig') %}
                        {% include('member_site/themes/widgets/alerts.html.twig') %}
                        {% include('member_site/themes/widgets/account_menu.html.twig') %}
                        {#--- THIS IS THE SECTION THAT PULLS IN ACTUAL CONTENT ---#}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <footer id="footer">
            <div class="container">

                <div class="footer-div"></div>

                <div class="row footer-block" style="padding-bottom: 40px;">

                    <div class="col-sm-4">
                        {% include('member_site/themes/widgets/contact_info.html.twig') %}
                        <br><br>
                        {% trans %}public_footer.powered_by{% endtrans %}
                        <a href="http://www.lend-engine.com" target="_blank">The Lend Engine</a>
                    </div>

                    <div class="col-sm-4">
                        {% include('member_site/themes/widgets/languages.html.twig') %}
                        <br><br>
                        {% include('member_site/themes/widgets/user.html.twig') %}
                    </div>

                    <div class="col-sm-4">
                        {#menu in here maybe#}
                    </div>

                </div>
            </div>
        </footer>

    </div>
{% endblock %}