<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% stylesheets
        '@AppBundle/Resources/css/bootstrap.css'
        '@AppBundle/Resources/admin/css/AdminLTE.2.4.15.css'
        '@AppBundle/Resources/admin/css/skin-black-light.min.css'
        '@AppBundle/Resources/admin/css/main.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>
<body class="hold-transition login-page">
<div class="login-box">
    {% block body %}{% endblock %}
</div>

</body>
</html>
