{% extends 'base.html.twig' %}

{% block pageTitle %}System updates{% endblock %}

{% block title %}System updates{% endblock %}

{% block body %}

    <style>
        h4 { padding-top: 20px; }
    </style>

    <div class="row">
        <div class="col-md-12">

            <div class="help-block">
                Back by popular request, the 'recent changes' page will show recent updates we've made to your Lend Engine system. <br>
                You can contribute to the todo list <a href="https://trello.com/b/0IxpZkDO/lend-engine-roadmap" target="_blank">here</a>.
            </div>

            <h4>10<sup>th</sup> August 2017</h4>
            <ul>
                <li>
                    The loan reminder email sent to members now includes item component information so that they know what they need to include when they return it.
                    You can also add any member-facing care information (the main care information field is for admin only).
                </li>
                <li>
                    We've renamed "archive" to "delete" for items as most people are looking for a 'delete' button.
                </li>
            </ul>

            <h4>2<sup>nd</sup> August 2017</h4>
            <ul>
                <li>
                    www, http and https links in item descriptions and component information are now made clickable, so you don't need to worry about adding A tags.
                </li>
            </ul>

            <h4>1<sup>st</sup> August 2017</h4>
            <ul>
                <li>An email is now sent to your organisation email address when a member places a reservation online.</li>
            </ul>

            <h4>25<sup>th</sup> July 2017</h4>
            <ul>
                <li>Fixed a bug where Internet Explorer was submitting some pages twice (causing "This item has already been checked out" error, amongst others).</li>
            </ul>

            <h4>20<sup>th</sup> July 2017</h4>
            <ul>
                <li>
                    You can choose <strong>multiple</strong> languages for your item names, descriptions and categories.
                    If you were a library in Wales, for example, your members could choose whether they viewed your member site in Welsh or English.
                    Previously only the site was translated, now you can also have multiple versions of your item information too.
                </li>
            </ul>

        </div>
    </div>

{% endblock %}

{% block pagejs %}

{% endblock %}