imports:
    - { resource: "../../src/AppBundle/DynamicParametersLoader.php" }
    - { resource: parameters.yml }
    - { resource: services.yml }

parameters:
    locale: en

framework:
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enabled: true, enable_annotations: true }
    templating:
        engines: ['twig']
    assets:
        version: 1.0.25
        version_format:  '%%s?v=%%s'
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true
    serializer:
        enable_annotations: true

# Twig Configuration
twig:
    date:
        timezone:     Europe/London
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form_themes:      [':form:fields.html.twig']
    globals:
        tenantInformation: "@service.tenant"
        appService:        "@service.apps"
        app_version:       "%app_version%"
        stripe_client_id:  "%stripe_client_id%"
        rollbar_client_token : "%rollbar_client_token%"
        billing_public_key: "%billing_public_key%"
        site_nav: "@service.site_nav"
        server_name: "%env(LE_SERVER_NAME)%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: "%kernel.debug%"
    bundles:        [ FOSUserBundle ]
    filters:
        cssrewrite: ~
        uglifyjs2:
            bin: /usr/local/bin/uglifyjs

# Doctrine Configuration
doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:   pdo_mysql
                server_version: '5.7'
                host:     "%database_host%"
                port:     "%database_port%"
                dbname:   "%database_name%"
                user:     "%database_user%"
                password: "%database_password%"
                charset:  utf8mb4

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

doctrine_migrations:
    dir_name: "%kernel.root_dir%/DoctrineMigrations"
    namespace: Application\Migrations
    table_name: migration_versions
    name: Application Migrations

# FOS User bundle
fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\Contact
    from_email:
        address: hello@lend-engine.com
        sender_name: Lend Engine
    resetting:
        token_ttl: 86400
        retry_ttl: 0
        email:
            template: emails/fos_password_reset.email.twig
    registration:
        confirmation:
            enabled: false
        form:
            type: AppBundle\Form\RegistrationType
            validation_groups: [AppBundleSiteRegistration]
    profile:
        form:
            type: AppBundle\Form\ProfileType
            validation_groups: [AppBundleProfile]
    service:
        mailer: service.fos_user_mailer

# File system bridge to AWS
oneup_flysystem:
    adapters:
        product_adapter_local:
            local:
                directory: "%kernel.root_dir%/../web/images/products"
        product_adapter:
             awss3v3:
                 client: lendengine.s3_client
                 bucket: lend-engine
                 prefix: ''
        file_adapter:
             awss3v3:
                 client: lendengine.s3_client
                 bucket: lend-engine-files
                 prefix: ''
    filesystems:
        product_image_fs:
            adapter: product_adapter
            mount:   product_image_fs
        secure_file_fs:
            adapter: file_adapter
            mount:   secure_file_fs

# Image and file uploader
oneup_uploader:
    mappings:
        gallery:
            frontend: dropzone
            namer: uploader.image_namer
            storage:
                type: flysystem
                filesystem: oneup_flysystem.product_image_fs_filesystem
        files:
            frontend: dropzone
            namer: uploader.file_namer
            storage:
                type: flysystem
                filesystem: oneup_flysystem.secure_file_fs_filesystem
        siteimages:
            frontend: dropzone
            namer: uploader.siteimage_namer
            storage:
                type: flysystem
                filesystem: oneup_flysystem.product_image_fs_filesystem

hype_mailchimp:
    api_key: "%mailchimp_api_key%"
    default_list: "%mailchimp_default_list%"
    ssl: true

# There's only one RabbitMQ server for all Lend Engine servers
# Each LE server has a worker, which means we have multiple workers picking up messages
# All tenant information is held within the message. No DB calls are made by queue consumer
old_sound_rabbit_mq:
    connections:
        default:
            url: "%CLOUDAMQP_URL%"
            lazy: true
    producers:
        mail_queue:
            class: AppBundle\Services\Queue\MailQueueProducer
            connection:       default
            exchange_options: {name: 'exchange_%env(APP_ENV)%', type: direct}
            service_alias:    mail_queue.producer
            enable_logger:    true
    consumers:
        mail_queue:
            connection:       default
            exchange_options: {name: 'exchange_%env(APP_ENV)%', type: direct}
            queue_options:    {name: 'exchange_%env(APP_ENV)%'}
            callback:         mail_queue.consumer
            enable_logger:    true
            qos_options:      { prefetch_size: 0, prefetch_count: 1, global: false }