{% trans_default_domain 'member_site' %}

<strong>{{ tenantInformation.companyName }}</strong>
<br>{{ tenantInformation.companyEmail }}<br>
<a href="{{ path('public_site_list') }}">{% trans %}public_footer.find_us{% endtrans %}</a>