{#<style>#}
    {#.menu-header {#}
        {#padding: 0 15px;#}
        {#font-size: 11px;#}
        {#color: #aaa;#}
    {#}#}
{#</style>#}
{#<div class="menu-header">ITEM CATEGORIES</div>#}
{{ knp_menu_render('itemsMenuStacked') }}