{% trans_default_domain 'member_site' %}

{% if tenantInformation.languages|length > 1 %}
    <div>{% trans %}public_footer.choose_lang{% endtrans %}</div>

    {% set languages = {
    de: {code: 'de', name: 'Deutsch'},
    en: {code: 'en', name: 'English'},
    fr: {code: 'fr', name: 'Francais'},
    es: {code: 'es', name: 'Espanol'},
    is: {code: 'is', name: 'íslensku'},
    nl: {code: 'nl', name: 'Nederlands'},
    ro: {code: 'ro', name: 'Română'},
    sk: {code: 'sk', name: 'Slovak'},
    se: {code: 'sv', name: 'Svenska'},
    cy: {code: 'cy', name: 'Cymraeg'},
    } %}

    {% for lCode in tenantInformation.languages %}
        <a {% if app.request.locale == lCode %}class="active"{% endif %} href="{{ path('set_locale', {loc: lCode}) }}">{{ languages[lCode].name }}</a>
    {% endfor %}
{% endif %}