{# app/Resources/views/public/registration_welcome.html.twig #}

{% extends 'member_site/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block search %}{% endblock %}

{% block accountNav %}
    {{ include('member_site/themes/widgets/account_menu.html.twig') }}
{% endblock %}

{% block body %}
    <div id="registration-welcome">
        {% if tenantInformation.getSiteWelcomeUser %}
            {{ tenantInformation.getSiteWelcomeUser|raw }}
        {% else %}
            <h2>Welcome!</h2>
            <p>
                {% trans %}public_registration.email_confirmed{% endtrans %}. Welcome to {{ tenantInformation.companyName }}.
            </p>
        {% endif %}

        {% if chooseMembership %}
            <div style="margin-top:20px;">
                <a class="btn btn-primary" href="{{ path('subscribe') }}">{% trans %}public_user.choose_membership_type{% endtrans %}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}