/** CSS used on member site and admin **/

/* PAYMENT PROCESSING */

.creditCard {
    width: 180px;
    float: left;
    padding: 10px;
    border: 1px solid #d4dee8;
    border-radius: 4px;
    font-size: 12px;
    margin: 0 20px 10px 0;
    background-color: #fafafa;
}

.creditCard a:hover {

}

.creditCard.active {
    background-color: #e4f2fe;
    border: 1px solid #afcfe8;
}

.creditCardText {
    font-family: "Courier New", Courier, mono;
    font-weight: bold;
}

.account-balance {
    padding: 10px;
    border-radius: 4px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 10px 0;
}

.session-user {
    color: #ff6519;
}

.session-user a {
    font-size: 14px;
}

/* Notes */

.note-wrapper {
    padding: 10px 0;
}

.admin-tools {
    padding: 10px 0 10px 0;
    margin: 10px 0;
    border: 1px solid #AAA;
    border-radius: 4px;
    background-color: #fafafa
}

.admin-tools-title {
    font-size: 12px;
    padding: 0 15px 4px;
    color: #aaa
}

.note-head {
    padding: 5px 0;
    color: #c0c0c0;
}

.note-body {
}

/* TABLES */
.selected-row {
    background-color: #d2f2ff !important;
}
.cell-currency {
    text-align: right;
}