{#
This wraps the content which is also shown on the item detail page on the member site
#}

{% extends 'shared/modal.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block title %}
    <h4>
        {% if product.showOnWebsite == false %}
            <i class="fa fa-exclamation-circle" data-toggle="tooltip" title="This item is not shown on your Lend Engine member website" style="color: #ff741e"></i>
        {% endif %}
        {{ product.name }}
    </h4>
{% endblock %}

{% block body %}
    {{ include('public/cores/item_core.html.twig') }}
{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    <a href="{{ path('member_search', {itemId: product.id, new: 'loan'}) }}" class="btn btn-success pull-right">Lend / reserve via member site</a>
{% endblock %}