/* HEADER */

#admin-tools{
    clear:left;
}

/* EDIT MODE */

#edit-mode-controls {
    padding: 6px;
    background-color: #cecece;
    height: 36px;
    font-size: 12px;
    border-bottom: 1px solid black;
}

select.btn-mini {
    height: auto;
    line-height: 14px;
}

/* Grey out the hidden menu items when in edit mode */
.page-hidden a {
    color: #ccc;
}

/* TOP NAV */

#nav-menu {
    line-height: 40px;
    margin-top: 10px;
}
#nav-menu .fa {

}
#nav-menu .fa-shopping-basket {
    font-size: 15px;
}

/* Left nav controls */

.navbar-collapse {
    padding-left: 0;
}
.navbar-toggle {
    padding: 0 0 0 10px;
    margin: 0;
}
#leftNavigation {
    clear: left;
}

/* ACCOUNT NAV */


/* GENERAL SITE STUFF */

h2 {
    font-size: 1.5em;
    padding-bottom: 5px;
    margin-top: 5px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-error hr {
    border-top-color: #e4b9c0;
}

.alert-error .alert-link {
    color: #843534;
}

.nav > li > a {
    padding: 6px 15px;
}

/* LABELS */

.bg-brown {
    background-color: #8A8982;
    color: #fff
}

.bg-yellow {
    background-color: #F7DD13 !important;
}

.bg-gray {
    color: #000;
    background-color: #d2d6de !important;
}

.bg-dim {
    background-color: transparent;
    color: #D4D3D3;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.bg-teal {
    background-color: #39cccc !important;
}

.bg-orange {
    background-color: #ff851b !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.label {
    font-weight: normal;
}

/* FullCalendar */

.fc-button-primary {
    color: #000;
    background-color: #f9f9f9;
    border-color: #cecfd0;
}

/* ITEM LIST */
div#item-list-filter {
    border-bottom: 1px solid #cccccc;
    background-color: #fafafa;
    padding: 10px;
    margin-bottom:10px;
}
div#item-list-filter ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
div#item-list-filter ul li {
    float: left;
    padding: 4px 20px 4px 0;
}
div#item-list-filter ul li.active a {
    color: #000;
    font-weight: bold;
}
.item-list-serial {
    font-weight: normal;
    font-size: 12px;
    color: #aaa;
}
.item-list-fee {
    padding-left: 10px;
    font-size: 12px;
    color: #aaa;
}
.site-item-tile .img-thumbnail {
    position: relative;
}
.site-item-tile .sku-label {
    position: absolute;
    bottom: 4px;
    left: 4px;
}

/* ITEM DETAIL */

.block-borrow {
    display: none;
}

/* CALENDAR */
td.fc-event-container a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Hide the time on the month view, but show on week view */
div.fc-month-view .fc-time {
    display:none;
}

.site {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    background-color: #fafafa;
    margin-bottom: 10px;
}
.location-title {
    padding-bottom: 8px;
    overflow: hidden;
}
.similar-items {
    padding-bottom: 12px;
}
.similar-items i {
    font-size: 20px;
    padding-right: 10px;
    color: #4390ff;
}

.item-info {
    font-size: 13px;
}

.item-info .item-info-label {
    color: #acacac;
    width: 100px;
    display: block;
    float: left;
}

/* LOAN RELATED */

.search-result {
    padding: 10px 0 14px 0;
    border-bottom: 1px solid #ccc;
}

.loan-row {
    padding: 6px 0;
}

mark{
    background: #ffdf5b;
    color: black;
}

/* FOOTER */

#footer a {
    padding-right: 6px;
}

#footer a.active {
    background: none;
    color: #000;
    font-weight: bold;
}

#footer .col-sm-4 {
    padding-left: 30px;
    padding-bottom: 30px;
}
/* OVERLAY */

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 600; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#overlayText{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/* OTHER */
