{% extends 'member_site/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block body %}
    <h2>{{ event.title }}</h2>

    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">

        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script>
        $(document).ready(function() {

        });
    </script>
{% endblock %}