{% extends 'member_site/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block body %}

<div id="site-welcome">

    {% if tenantInformation.siteHomePage.content %}

        <h2>{{ tenantInformation.siteHomePage.title }}</h2>
        {{ tenantInformation.siteHomePage.content|raw }}

    {% else %}

        <h2>Welcome to your Lend Engine member site</h2>

        <p>
            This is the member view of your items, and because you are logged in as an administrator,
            you also have extra features (extra search, and the ability to browse as different members).
        </p>

        <p>
            You can switch between admin and the member site any time you like.
        </p>

        <p>
            Creating, changing, checking out and checking in loans (and reservations) is done via the <strong>member site</strong>.
        </p>

        <br>

        <style>
            ol {
                padding-left: 15px;
            }
            ol li {
                padding-bottom: 10px;
            }
        </style>

        <h4>Follow these steps to get started:</h4>
        <ol>
            <li>
                Check your opening hours are set up properly on the <a href="{{ path('site_list') }}">sites setting screen</a>.
                Opening hours determine the periods you can create loans and reservations for.
            </li>
            <li>
                Add an item via the admin screens, so you've got something to play with (you can archive it later).
            </li>
            <li>
                Check your membership types (in admin)
                and add self-serve membership types if you want people to be able to borrow online as soon as they have registered.
                The alternative to self-serve memberships is to require that people come in to see you in order to become a member.
            </li>
            <li>
                Open a different browser and register as a member on your public site, to see what your members see.
                You'll need to use a real email address so that you get the signup link (use a different one from your admin email address!)
            </li>
            <li>
                Create a loan or reservation for your new member.
            </li>
            <li>
                Change this home page content by switching into 'site editor' mode using the button at the bottom of the screen.
            </li>
        </ol>

    {% endif %}
</div>

{% endblock %}