{% extends 'public/base.html.twig' %}

{% block body %}
    <h2 id="site-waiting-list-help">How the waiting list works</h2>

    <p>
        If an item is shown as not available, and you are logged into our site as a member, you can add yourself
        to the waiting list for that item.
    </p>

    <p>
        As soon as the item is checked back in, then you'll receive an email to let you know it's available again.
        All other members on the waiting list for the item will also receive an email.
    </p>
{% endblock %}